@import "./reset.scss";
@import "./variables/global.scss";
@import "./themes/normal.scss";
@import "./themes/dark.scss";

.app {
  font-size: $font-size-m;
  line-height: $line-height-m;
  min-height: 100vh;
}
