$font-family-main: "Consolas", "Times New Roman", Serif;

$font-size-m: 16px;
$line-height-m: 24px;

$font-size-l: 24px;
$line-height-l: 32px;

$bg-color-normal: #e8e8ea;
$primary-color-normal: #022bb2;
$secondary-color-normal: #0549e0;

$bg-color-dark: #09094e;
$primary-color-dark: #13b313;
$secondary-color-dark: #04ff04;
